html{
    font-family: "poppins", sans-serif;
}
#return{
    position: fixed;
    left: 2rem;
    top: 2rem;
    transition: .3s;
  }
#return:hover{
    transform: scale(1.2);
    color: goldenrod;
}

.photo-gallery {
    display: grid;
    grid-template-areas: 
        "photo1 photo2"
        "photo1 photo3";
    gap: 1.5rem;
}
.photo1 { grid-area: photo1; }
.photo2 { grid-area: photo2; }
.photo3 { grid-area: photo3; }

.photo-container {
    position: relative;
    overflow: hidden;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.photo-number {
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    transition: color 0.5s ease;
}

.photo-container:hover .photo-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.photo-container:hover .photo-number {
    color: white;
}



@media (max-width: 767px) {
    .photo-gallery {
        grid-template-areas: 
            "photo1"
            "photo2"
            "photo3";
    }
}